body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-container {
    position: relative;
    margin: 10px;
    touch-action: manipulation;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.image-container:hover .image-text,
.image-container:active .image-text,
.image-container:focus .image-text,
.image-container.tapped .image-text {
    opacity: 1;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
}

#bigImagePage {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Adjust the text color */
    font-size: 20px; /* Adjust the text size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: add a text shadow for better visibility */
    z-index: 1; /* Ensure the text is on top of the image */
}

.moving-image {
    width: 150px;
    height: 100px;
    background-color: #ffcc00;
    margin: 0 auto;
    animation: moveImage 2s infinite linear;
}

@keyframes moveImage {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}

#bigImagePage p {
    margin-top: 20px;
}

.hidden {
    display: none;
}